
<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}

  <!--   <div class="post-container">
      {{ content }}
    </div> -->
    {% assign posts=site.posts | where:"i18n-link", page.i18n-link | sort: 'lang' %}

{% if posts.size == 0 %}
  {% assign posts=site.pages | where:"i18n-link", page.i18n-link | sort: 'lang' %}
{% endif %}

<div class="lang">
  <ul>
    {% for post in posts %}
      <li><a class="{{ post.lang }}" href="{{ site.base-url }}{{ post.url }}">{{ post.lang }}</a></li>
    {% endfor %}
  </ul>
</div>


    {% include footer.html %}

  </div>

</body>
</html>
